<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488954506520-31lo7jrt9qfjqpd2ivuuq9nrnodd21he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488954506520-31lo7jrt9qfjqpd2ivuuq9nrnodd21he</string>
	<key>API_KEY</key>
	<string>AIzaSyCe9lmtQF9MHUZTwqxa6DuIES_HzgXHAaw</string>
	<key>GCM_SENDER_ID</key>
	<string>488954506520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wuskanvega.drms</string>
	<key>PROJECT_ID</key>
	<string>wuskan-vegas-dreams</string>
	<key>STORAGE_BUCKET</key>
	<string>wuskan-vegas-dreams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488954506520:ios:b4cb8cf7207d333297426d</string>
	<key>DATABASE_URL</key>
	<string>https://wuskan-vegas-dreams-default-rtdb.firebaseio.com</string>
</dict>
</plist>